<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Hotels</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

	<div class="navbar">

	    <div class="nav-left">
	        Hotel Booking
	    </div>

	    <div class="nav-right">

	        <div class="dropdown">

	            <button class="dropbtn">
	                <span th:text="${session.user.name}"></span> ▼
	            </button>

	            <div class="dropdown-content">
	                <a href="/hotelsPage">Hotels</a>
					<a th:if="${session.user.role == 'ADMIN'}" href="/admin">Admin</a>
	                <a href="/bookingHistory">My Bookings</a>
	                <a href="/logout">Logout</a>
	            </div>

	        </div>

	    </div>

	</div>

<div th:if="${success}" class="success-msg">
    <p th:text="${success}"></p>
</div>

<!-- Search -->
<div class="search-box">

    <form action="/hotels/search" method="get">
        <input name="location" placeholder="Search by city">
        <button type="submit">Search</button>
    </form>

</div>

<!-- Cards -->
<div class="cards-container">

    <div class="card" th:each="hotel : ${hotels}">
		<img th:src="${hotel.imageUrl}" class="hotel-img">
        <div class="card-body">

            <h3 th:text="${hotel.name}"></h3>

            <p th:text="${hotel.location}"></p>

            <p th:text="${hotel.description}"></p>

            <div style="display:flex;gap:10px;flex-wrap:wrap;justify-content:center;">
                <a class="btn"
                   th:href="@{/roomsPage(hotelId=${hotel.id})}">
                   View Rooms
                </a>
                <a class="btn btn-outline"
                   th:href="@{/hotelDetail(hotelId=${hotel.id})}">
                   ⭐ Reviews
                </a>
            </div>

        </div>

    </div>

</div>

</body>
</html>

<script>
setTimeout(function(){
    let msg = document.querySelector(".success-msg");
    if(msg){
        msg.style.display = "none";
    }
}, 3000);
</script>