<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="container">
    <h2>Register</h2>

    <form action="/users/register" method="post">
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" name="email" placeholder="Enter Email">
        <input type="password" name="password" placeholder="Enter Password">
        <button type="submit">Register</button>
    </form>

    <a href="/loginPage">Already have account?</a>
</div>

</body>
</html>